/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.
******************************************************************/



/*********************
Global Color
*********************/

$black:             #111111;
$grey:              #5e5e5e;
$white:             #ffffff;
$bgcolor:           #f7f6f5;

$light-grey:        #cccccc;
$meta-grey:         #9fa6b4;
$disabled-grey:     #cfcfcf;

$title-orange:		#C95B28;
$text-color:		#332A23;
$link-color:        #453D31;
$link-hover:        lighten($link-color, 10%);

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;




/*********************
Global animate
*********************/
*{
	-moz-transition: 	all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: 		all 0.3s ease-in;
    transition: 		all 0.3s ease-in;
}