/******************************************************************
Site Name: weblog.coletree.com
Author:	coletree
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


/*********************
Global Value
*********************/
*{
	-moz-transition: 	all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: 		all 0.3s ease-in;
    transition: 		all 0.3s ease-in;
}


/*********************
LINK STYLES
*********************/

a, a:visited {

	color: $link-color;
    text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}





/*********************
GENERAL STYLES
*********************/

body{
	font-family: "PingHei","Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","sans-serif";
	font-size: 100%;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */



/*********************
HEADER STYLES
*********************/
.header{
	width: 100%;
	height: 80px;
	background: none repeat scroll 0 0 #fff;
	border-top: 4px solid #7ba80f;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 999999;
    		box-shadow: 0px 1px 2px rgba(40,40,40,0.06);
    	 -o-box-shadow: 0px 1px 2px rgba(40,40,40,0.06);
       -moz-box-shadow: 0px 1px 2px rgba(40,40,40,0.06);
    -webkit-box-shadow: 0px 1px 2px rgba(40,40,40,0.06);
}

#inner-header{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.site-branding{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

.site-title{
	margin: 0 auto; 
	overflow: hidden;
}

.site-title a{
	display: inline-block;
	width: 180px; 
	height:60px; 
	background:url(../images/logo.png) no-repeat 0 -7px;
	text-decoration: none; 
	line-height: 99em;
	margin-left: 8px;
	overflow: hidden;
}

#menuSwitchWrap{
	position: absolute;
	right: 20px;
	top: 0;
	z-index: 9998;
	display: none;
}

#menuSwitch,
#menuSwitch:hover,
#menuSwitch:active,
#menuSwitch:link,
#menuSwitch:visited,
#menuSwitch:focus{
	width: 56px;
	height: 56px;
	line-height: 56px;
	font-size: 28px;
	cursor: pointer;
	opacity: 0.6;
	outline: none;

}


/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
#navMenuWrap{
	float: right;
	background: #fff;
}

.nav{
	margin: 0;
	padding: 28px 0 0 0;

	li {

		float: left;
		display: inline-block;

		a {
			color: #6f5f58;
			font-size: 17px;
			line-height: 20px;
			text-decoration: none;
			display: inline-block;
			height: 20px;
			padding: 0 24px;
			border-right: 1px dotted #c8c2b9;
			overflow: hidden;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				color: #6f5f58;
				text-decoration: none;
			}
		}

		&:first-child {}

		&:last-child {border: 0 none;}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	&:last-child {border: 0 none;}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content{
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background:url(../images/bg_main.png) repeat;
}

#inner-content{
	margin: 0 auto;
	/*width: 920px;
	max-width: 920px;
	min-width: 320px;
	margin: 0 auto;*/
}


		.hentry {

			margin-bottom: 120px;

			.feature-image{
				text-align: center;

				img{
    				max-width: 100%;	
    				width: 100%;
    				height: auto;
    				vertical-align: top;
				}

			}

			.article-header{
				padding: 30px 0;
			}

			.entry-title,
			.entry-title a{
				@include orangeTitleLink;
				font-size:32px;
				font-weight:bold;
				text-align:center;
				font-weight: 400;
				letter-spacing: -0.04em;
			}

			.entry-meta-wrap{
				color:#eee;
				font-size:12px;
				text-align: center;
				margin-bottom: 40px;
				/*background:url(../images/dashline.png) no-repeat center center;*/

				a{
					color: #ccc;
					&:hover{
						color:#F6512C;
					};
				}

                .entry-meta{
                    /*background: url(../images/bg_main.png) repeat;*/
                }

				.entry-meta-edit{
					margin-left: 16px;
				}

			}

			footer {
				color:#ddd;
				font-size:20px;
				text-align: center;
				background:url(../images/dashline.png) no-repeat center center;

                .article-footer-wrap{
                    background: url(../images/bg_main.png) repeat;
                    padding: 0 16px;
                }

			}



		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */




		/* entry content */

		.entry-content {
			color: #332A23; 
			font-size: 20px; 
			line-height: 1.8em;
			text-align: left;
			padding: 0 60px;

			p {
				margin: 0 0 40px;

				a{
					@include greenLink;
				}

				img{
					@include image-shadow(8px);
				}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 40px;
				padding: 20px 30px;
				border-left: 3px solid #BFBAB5;
				font-size: 16px;
				font-style: italic;
				color: #776e64;
				background:rgba(255, 255, 255, 0.6);

				&:before {}

				p{
					margin-bottom: 0;
				}

			}

			li {list-style: disc outside none; margin-bottom: 12px;}

			dl {}

			dt {}

			dd {}

			.mejs-container{margin-bottom: 30px;}

			img {
				margin: 0 0 40px;
				max-width: 100%;
				height: auto;
				vertical-align: top;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {display:inline; float:left; margin-top:0; margin-right: 40px;}
			.alignright, img.alignright {display:inline; float:right; margin-top:0; margin-left: 40px;}
			.aligncenter, img.aligncenter {clear:both; display:block; margin-left:auto; margin-right:auto;}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			img.size-full, img.size-large{ _width:100%;}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #fefefe;
			padding: 8px;
			margin: 0 auto 30px;

			/* images inside wp-caption */
			img{
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				color: #888;
				font-size: 0.8em;
				margin: 8px 0 4px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}






/*thoughs post format*/
.post_thoughs_format{
	max-width: 760px;
	min-width: 320px;
	padding: 40px 0 0;
	margin: 0 auto;

	.entry-content{
		max-width: 720px;
		padding: 0 0;

		p{
			padding: 0 40px;
		}
	}

}




/*recommend post format*/
.post_recommend_format{
	max-width: 720px;
	min-width: 320px;
	padding: 40px 0 0;
	margin: 0 auto;

	.entry-content{
		max-width: 680px;
		min-width: 320px;
		padding: 0 20px;
	}

}


.recommend_resource{
	border: solid 1px #eee;
	background: #fefefe;
	padding: 29px;
	margin-bottom: 40px;
	

	.recommend_resource_img{
		float: left;
		margin-right: 40px;

		 img{
		 	vertical-align: top;
		 	max-width: 120px;
		 	height: auto;
		 }
	}

	.recommend_resource_content{
		text-align: left;
		overflow: hidden;

		h5{
			font-size: 16px;
			font-weight: bold;
			color: #333;
			padding-top: 4px;
			margin-bottom: 12px;
		}

		p{
			font-size: 16px;
			color: #666;
			line-height: 1.6em;
			margin-bottom: 16px;
		}

		div{

			a{
				color: #3377aa;
			}

		}
	}

}



/*journal post format*/
.post_journal_format{
	padding: 0 0;
	margin: 0 auto;

	.article-header{
		position: relative;
		max-height: 520px;
		min-height: 400px;
		background: url(../images/journal_head_bg.png) 100% 100%, linear-gradient(10deg, #217142, #214271), none;
		background-size: cover;
    	width: 100%;
    	padding: 0;
    	margin-bottom: 4em;
    	overflow: hidden;

    	.feature-image{
			min-height: 400px;
			min-width: 720px;
			overflow: hidden;
			width: 100%;
			opacity: 0.8;
			position: absolute;

			img{
				-webkit-filter: blur(10px);
				-moz-filter: blur(100px);
				-o-filter: blur(10px);
				-ms-filter: blur(10px);
				filter: blur(10px);
			}

		}
	}

	.journal-header{
		position: absolute;
		bottom: 0px;
		width: 100%;
		text-align: center;
		z-index: 999;
	}

	h1{
		padding: 60px 0 120px;
		margin: 0 auto;
		font-size: 36px;
	}

	.journal-meta{
		font-size: 16px;
		color: #ddd;
		font-weight: normal;
		padding-top: 60px;

		.place{
			padding:0 16px;
		}

		.date{
			padding:0 16px;
		}
	}



	.entry-content{

		min-width: 100%;
		max-width: 920px;
		padding: 0 0;
		text-align: center;

		p{
			max-width: 600px;
			min-width: 320px;
			padding: 0 20px;
			margin: 0 auto 2.4em;
			text-align: left;
		}

		div.su-row{
			width: 100%;
			max-width: 760px;
			min-width: 320px;
			margin:0 auto 2.4em;

			img{
				width: auto;
				max-width: auto;
			}
		}

		> img{
			max-width: 760px;
			min-width: 320px;
			margin:0 auto 2.4em;
		}

	}

	#single-article-footer{
		max-width: 720px;
		min-width: 320px;
		margin: 0 auto;
		margin-bottom: 80px;
	}

	#related_article{
		max-width: 720px;
		min-width: 320px;
		margin: 0 auto 80px;
	}

	#ds-thread{
		max-width: 720px;
		min-width: 320px;
		margin: 0 auto 80px;
	}

}


.hentry.post_journal_format .entry-title, 
.hentry.post_journal_format .entry-title a {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}







/******************************************************************
Share jiathis Style
******************************************************************/
#single-article-footer{
	margin: 50px 0;
}

#single-article-footer .jiathis_style{
	text-align: center;
	padding:20px;
}

#single-article-footer .jiathis.jiathis_separator.jtico.jtico_jiathis{
    display: none !important;
}

#single-article-footer .jiathis_style .button, 
#single-article-footer .jiathis_style .jiathis_txt{
    float: none;
    display: inline-block;
    font-size: 14px !important;
}


#single-article-footer .jiathis_button_weixin,
#single-article-footer .jiathis_button_tsina,
#single-article-footer .jiathis_button_douban,
#single-article-footer .jiathis_button_twitter,
#single-article-footer .jiathis_button_googleplus{
	display: inline-block;
	padding: 0 4px !important;
	margin: 0 8px;
	background: url("../images/bg_main.png") repeat;
}

#single-article-footer .jiathis_style .jtico {
    cursor: pointer;
    display: inline-block !important;
    width: 32px !important;
    height: 32px !important;
    padding-left: 0 !important;
}

#single-article-footer .jiathis_button_weixin .jtico_weixin{
    background: url(../images/icon_32.png) no-repeat;
    background-position: 0 0;
    &:hover{
    	background-position: -32px 0;
    }
}

#single-article-footer .jiathis_button_tsina .jtico_tsina{
    background: url(../images/icon_32.png) no-repeat;
    background-position: 0 -32px;
    &:hover{
    	background-position: -32px -32px;
    }
}

#single-article-footer .jiathis_button_douban .jtico_douban{
    background: url(../images/icon_32.png) no-repeat;
    background-position: 0 -64px;
    &:hover{
    	background-position: -32px -64px;
    }
}

#single-article-footer .jiathis_button_twitter .jtico_twitter{
    background: url(../images/icon_32.png) no-repeat;
    background-position: 0 -96px;
    &:hover{
    	background-position: -32px -96px;
    }
}

#single-article-footer .jiathis_button_googleplus .jtico_googleplus{
    background: url(../images/icon_32.png) no-repeat;
    background-position: 0 -128px;
    &:hover{
    	background-position: -32px -128px;
    }
}




/******************************************************************
Relate Post
******************************************************************/
#related_article{

	margin-bottom: 80px;

	h4{	
		color:#666;
		text-align: center;
		padding: 16px;
		border-bottom: dotted 1px #ddd;
	}

	ul{
		text-align: left;
	}

	.relatedListItem{

		padding: 20px;
		border-bottom: solid 1px #eee;
		overflow: hidden;


		h3{
			margin-bottom: 8px;

			a{
		    	color: #c95b28;
		    	font-size: 20px;
			}
		}

		.listItemSummary{
			color: #666;
			font-size: 16px;
			line-height: 1.8em;
			margin-bottom: 8px;
		}


	}

}






/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 50px 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both;
    }

    li {
      padding: 0;
      margin-right: 4px;
      background-color: $white;
      border-radius: 2px;
      float: left;
      display: inline;
      overflow: hidden;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $text-color;

      &:hover, &:focus {
      	background-color: $text-color;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: #C95B28;

    	&:hover, &:focus {
    		color: #C95B28;
    		background-color: $white;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */




/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}



/*********************
DuoShuo Style
*********************/
article #ds-thread {
	margin-bottom: 80px;
}

article #ds-reset{
	padding: 0 20px;
}

article #ds-thread #ds-reset .ds-replybox{
	margin: 0 0;
    padding: 0 0 0 70px !important;
}

article #ds-thread #ds-reset li.ds-tab {
    margin: 0 0 0 6px;
}

article #ds-thread #ds-reset .ds-replybox .ds-avatar {
    left: 4px !important;
}

article #ds-thread #ds-reset .ds-comments {
    border-bottom: 0 none;
}

article #ds-thread #ds-reset .ds-comments-info {
    margin-top: 0;
    padding: 16px 0;
}

article #ds-thread #ds-reset .ds-post-self {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 4px;
}

article #ds-thread #ds-reset ul{
    text-align: right;
}

article #ds-thread #ds-reset .ds-sort {
	display: none;
}

article #ds-thread #ds-reset .ds-comment-body {
    text-align: left;
    padding-left: 70px;
}

article .ds-powered-by{
	display: none;
}

article #ds-reset li.ds-post-placeholder{
	display: none;
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {
		font-size: 18px;
		padding: 6px 0;
		border-bottom: 1px solid #ddd;
	}

	.widget {

		text-align: left;
		margin-bottom: 60px;

		ul {

			li {

				padding: 6px 0;

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
	}



#sidebar1{
	max-width: 720px;
	min-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}


#sidebar2{
	max-width: 720px;
	min-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}






/*********************
FOOTER STYLES
*********************/

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav a bit more in-depth. Remember to keep it simple because you'll have to
override these styles for the desktop view.
*/

.footer {
	clear: both;
	padding: 60px 0 0;
	background: #fff;	

	#inner-footer{
		width: 920px;
		margin: 0 auto;
	}

}


#footerWidget{

	padding: 0 20px;

	.widgetTitle{
		font-size: 14px;
		font-weight: bold;
		color: #605854;
		border-bottom: 1px solid #eee;
		padding: 0 0 10px;
		margin-bottom: 8px;
	}

	.footer-widget{
		margin-bottom: 60px;
	}

	ul li{
		font-size: 10px;
		color: #aaa;
		list-style: disc outside;
		padding: 6px 0 6px 2px;
		margin-left: 10px;
	}

	a{
		color: #706359;
		font-size: 14px;
	}


	.footer-first-widget{
		width: 20%;
		float: left;
		margin-right: 80px;
	}

	.footer-second-widget{
		width: 20%;
		float: left;
	}

	.footer-last-widget{
		float: right;
		width: 260px;
		font-size: 12px;
		color: #aaa;
		position: relative;

		p{
			font-size: 13px;
			line-height: 26px;
			padding: 0 0 20px 0;
			border-bottom: solid 1px #f3f3f3;

			a{
				font-size: 12px;
			}
		}

		img{
			position: absolute;
			bottom: -30px;
			right: 0;
			z-index: 1000;
		}
	}


}



.footer-bottom{
	color: #aaa;
	font-size: 12px;
	padding: 20px;
	background: #fefefe;
	border-top: solid 1px #efefef;

	.copyright {
		float: left;
	}

	.other-links{
		float: right;

		li{
			float: right;
			margin-left: 8px;

			a{
				color: #aaa;
			}
		}
	}

}



/*********************
Archive
*********************/







/*********************
Page Style
*********************/







/*Home Page-------------------------------------------------------*/
#homePage-content{
    background: url("../images/bg_main.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 60px 0 0;
    text-align: center;
    width: 100%;
    border-bottom: solid 20px #FCFBF9;
}


#homePage{
	color: #332a23;
    font-size: 18px;
    text-align: left;
    padding: 0 0;
}



#newestPost{

	max-width: 760px;
    min-width: 320px;
    padding: 0 20px;
	margin: 0 auto 4em;

	h1{
		margin-bottom: 16px;
	}

	.entry-content {
	    padding: 0 0;
	    text-align: center;

	    p{
			max-width: 600px;
			margin: 0 auto 40px;
			text-align: left;
		}

	}

	.hentry {
	    margin-bottom: 40px;
	}

	.entry-meta-date{
		text-align: center;
		color: #ccc;
		font-size: 14px;

		a{
			color: #aaa;
		}
	}


}



.home #inner-content{
	max-width: 720px;
	min-width: 320px;
	padding: 0 20px;
}


.homePostListWrap{
	padding: 40px 0;
	background: #fff;
	border-bottom: solid 1px #F2F0ED;
}


.homePostList{
	max-width: 720px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}


.homePostListTitle{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	margin: 0 auto 10px;
	background: url("../images/recentPost_bg.png") center center repeat-x;

	span{
		display: inline-block;
		color: #999;
		padding: 0 20px;
		background: #fff;
		line-height: 40px;
	}
}


.postListItem{

	padding: 40px 0;
	border-bottom: solid 1px #eee; 

	.listItemContent{
		overflow: hidden;

		h3{
			margin-bottom: 16px;

			a{
		    	color: #c95b28;
		    	font-size: 24px;
			}
		}

		.listItemSummary{
			color: #666;
			font-size: 18px;
			line-height: 1.8em;
			margin-bottom: 16px;
		}

		.listItemMeta{
			color: #aaa;
			font-size: 14px;

			a{
				color: #aaa;
			}
		}

	}

	.featurePic{
		float: right;
		margin-top: 36px;
		margin-left: 40px;
		text-align: center;
		width: 200px;

		img{
			width: auto;
			max-width: 200px;
			height: auto;
		}
	}

}


.homeNav{
	text-align: center;
	padding: 60px 0 30px;
	border-bottom: 0 none;

	a{
		font-size: 20px;
		padding: 0 24px;
	}

	.count{
		font-size: 16px;
	}
}





/*Post List Page-------------------------------------------------------*/
.archive #inner-content{
	max-width: 720px;
	min-width: 320px;
	padding: 0 20px;
}

.archive-list{
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 0;

    .archive-title{
    	font-size: 20px;
    	text-align: center;
    	padding: 30px 0;
    	border-bottom: solid 1px #eee;
    }
}



/*Normal Page-------------------------------------------------------*/
article.page{
	color: #332a23;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
}

article.page p{
	margin-bottom: 40px;
}

article.page .article-header{
	padding: 0 40px;
	margin: 40px auto;
	text-align: center;
}

article.page .page-title{
	font-size: 24px;
}

article.page h3{
	color: #c95b28;
	margin-bottom: 20px;
}

article.page .post-entry-content{
	padding: 0 40px;
	max-width: 920px;
	margin: 0 auto;
}




/*Full Width Page-------------------------------------------------------*/
#fullWidthPage-content {
	width: 100%;
	max-width: 1200px;
    margin: 0 auto;
}

.fullWidthPage{
    width: 100%; 
    overflow: hidden;
    
}

.fullWidthPage #content{
    padding: 0 40px;
}


/*Travel Place-------------------------------------------------------*/
#mapWrap{
	padding: 20px 20px 0; 
	background: #fff;
	max-width: 660px;
	margin: 0 auto;
}

#cityList{
	padding: 20px 20px 60px; 
	background: url(../images/place_bg.png) repeat-y 0 0;
	max-width: 660px;
	margin: 0 auto;
}

#cityList li{
    line-height: 42px;
    height: 42px;
    font-size: 16px;
    background: url(../images/citylist_bg.png) no-repeat -6px 0; 
    position: relative;
    list-style: none;
    text-align: left;
}

#cityList li a{
    display:block; 
    color: #453D31; 
    text-decoration: none; 
    padding-left: 16px; 
    margin-left: 16px;
}

#cityList li a:hover{
    background-color: #fafcfe; 
    height: 41px; 
}

#cityList li span.info{
    color: #999; 
    font-size: 14px; 
    margin-left: 16px;
}

#cityList li span.date{
    position: absolute; 
    top: 0; 
    right: 20px; 
    text-align: right; 
    color: #aaa; 
    font-size: 14px;
}


/*CD Library-------------------------------------------------------*/
#content h2.cdTitle{
    font-size: 16px;
    color: #666;
    background: #fff;
    border-top: 2px solid #ededed;
    padding: 6px 16px;
    margin-top: 6px;
    position: relative;
}

.myCD{margin: 0 0 80px -8px;}

.myCD li{
    display: inline-block;
    width: 90px;
    height: 82px;
    float: left;
    margin: 20px 0 0 8px;
    position: relative; 
    overflow: hidden;
}

.myCD img{
    width: 72px; 
    height:72px;
    position: absolute; 
    top: 3px; 
    left: 12px; 
    background:url('../images/blank_insert.gif') transparent no-repeat left top;
    z-index: 0;
}

.myCD a{
    display: inline-block;
    width: 90px;
    height: 82px;
    background:url('../images/jewel.png') transparent no-repeat left top; 
    line-height: 99em; 
    overflow: hidden;
    position: relative;
    z-index: 9;
}




